@import url('https://fonts.googleapis.com/css?family=Lato');

html, body, #root {
  height: 90%;
}

body {
  margin: 0;
  padding: 1em;
  background-color: #FEFEFE;
}

body, input {
  color: darkslategray;
  font-family: 'Lato', sans-serif;
}
