.Practice {
    max-width: 40em;
    text-align: left;
}

.Description, .RomajiSentence {
    margin-bottom: 4em;
}

.KanaSentence {
    margin-bottom: 1em;
    font-size: 150%;
}

.KanaSentence .Element {
    display: inline-block;
    vertical-align: bottom;
}

.KanaSentence .Element p {
    text-align: center;
    margin: 0;
}

.KanaSentence .Element .Furigana {
    font-size: 50%;
}

.solved {
    color: darkgreen;
}
.solving {
    border-bottom: 1px solid black;
}
.unsolved {
    color: #374d4d;
}
