.Practice {
    max-width: 40em;
    text-align: left;
}

.solved {
    color: darkgreen;
}
.solving {
    text-decoration: underline;
    text-underline-position: under;
}
.unsolved {
    color: gray;
}
