.Practice {
    width: 300px;
    text-align: center;
}

.solved {
    color: darkgreen;
}
.solving {
    text-decoration: underline;
    text-underline-position: under;
}
.unsolved {
    color: gray;
}